<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="header :: page_head('Library - Edit Book')"></head>
<body>
<header th:replace="header :: header"></header>
<main>
    <main>
        <form class="newBookForm" th:action="@{/books/edit/save}" method="post" th:object="${book}" enctype="multipart/form-data">
            <label>
                <p class="label-txt">BOOK ID</p>
                <input type="text" class="input" maxlength="50" required th:field="*{id}" readonly>
                <div class="line-box">
                    <div class="line"></div>
                </div>
            </label>
            <label>
                <p class="label-txt">BOOK TITLE</p>
                <input type="text" class="input" maxlength="50" required th:field="*{title}">
                <div class="line-box">
                    <div class="line"></div>
                </div>
            </label>
            <label>
                <p class="label-txt">BOOK AUTHOR</p>
                <input type="text" class="input"  maxlength="50" required th:field="*{author}">
                <div class="line-box">
                    <div class="line"></div>
                </div>
            </label>
            <label>
                <p class="label-txt">BOOK DESCRIPTION</p>
                <textarea type="text" class="input" th:field="*{description}"></textarea>
                <div class="line-box">
                    <div class="line"></div>
                </div>
            </label>
            <label>
                <p class="label-txt">BOOK YEAR OF PUBLICATION</p>
                <input type="number" class="input" required th:field="*{yearOfPublication}" min="0">
                <div class="line-box">
                    <div class="line"></div>
                </div>
            </label>
            <label>
                <p class="label-txt">ENTER BOOK PRICE</p>
                <textarea type="number" class="input" th:field="*{price}"></textarea>
                <div class="line-box">
                    <div class="line"></div>
                </div>
            </label>
            <label>
                <p class="label-txt">ENTER PRICE CURRENCY</p>
                <select th:field="*{currency}">
                    <option th:value="'PLN'" th:text="PLN"></option>
                    <option th:value="'USD'" th:text="USD"></option>
                    <option th:value="'GBP'" th:text="GBP"></option>
                    <option th:value="'MXN'" th:text="MXN"></option>
                </select>
                <div class="line-box">
                    <div class="line"></div>
                </div>
            </label>
            <label>
                <p class="label-txt">BOOK AVAILABLE COPIES</p>
                <input type="number" class="input" required th:field="*{copies}" min="0" max="15">
                <div class="line-box">
                    <div class="line"></div>
                </div>
            </label>
            <label>
                <p class="label-txt">ENTER BOOK PHOTO THUMBNAIL URL</p>
                <input type="text" class="input" th:field="*{photo}">
                <div class="line-box">
                    <div class="line"></div>
                </div>
            </label>
            <button type="submit">submit</button>
        </form>
    </main>
</main>
</body>
</html>