<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="header :: page_head('Library - View Book')"></head>
<body>
<header th:replace="header :: header"></header>
<main>
    <div class="container">
        <div class="col-md-12">
            <section class="panel">
                <img class="viewImg" th:src="${book.getBookThumbnail()}">
            </section>
            <section class="panel">
                <div class="panel-body">
                        <h4 class="pro-d-title" th:text="${book.getTitle()}"></h4>
                        <b>Author:</b> <p th:text="${book.getAuthor()}"></p>
                        <b>Publicated:</b> <p th:text="${book.getYearOfPublication()}"></p>
                        <div th:if="${!isDescEmpty}">
                            <b>Description:</b><p th:text="${book.getDescription()}"></p>
                        </div>
                        <div th:if="${book.getGoogleVolumeInfoDto().getAverageRating() > 0}" class="form-group">
                            <span><b>Book rating according to Google readers:</b></span><br>
                            <span th:text="'Average rating is: ' + ${book.getGoogleVolumeInfoDto().getAverageRating()} + ' out of ' + ${book.getGoogleVolumeInfoDto().getRatingsCount()} + ' ratings count.'"></span>
                        </div>
                        <div th:if="${book.getPrice() > 0}" class="form-group">
                            <span><b>Book price</b></span><br>
                            <span id="price" th:text="${book.getPrice()}"></span>
                            <select id="currency">
                                <option value="PLN" name="currencyTo" th:text="PLN" th:selected="${book.getCurrency() == 'PLN'}"></option>
                                <option value="GBP" name="currencyTo" th:text="GBP" th:selected="${book.getCurrency() == 'GBP'}"></option>
                                <option value="EUR" name="currencyTo" th:text="EUR" th:selected="${book.getCurrency() == 'EUR'}"></option>
                                <option value="USD" name="currencyTo" th:text="USD" th:selected="${book.getCurrency() == 'USD'}"></option>
                                <option value="MXN" name="currencyTo" th:text="MXN" th:selected="${book.getCurrency() == 'MXN'}"></option>
                                <input type="text" id="baseCurrency" hidden th:value="${book.getCurrency()}">
                            </select>
                        </div>
                        <div class="form-group">
                            <label><b>Available copies:</b></label>
                            <input type="quantiy" th:placeholder="${copies}" class="form-control quantity">
                        </div>
                        <form th:action="@{/rentals}" method="post" th:object="${book}">
                            <input type="hidden" th:field="*{id}">
                            <p style="margin-top: 30px">
                                <button th:disabled="${copies < 1}" class="btn btn-round btn-danger" type="submit"><i class="fa fa-shopping-cart"></i>Rent a book</button>
                            </p>
                        </form>
                </div>
            </section>
        </div>
    </div>
</main>
<script>
var currency = document.querySelector("#currency");
var currencyFrom = currency.options[currency.selectedIndex].value;
var baseCurrency = document.querySelector("#baseCurrency").value;
var amount = document.querySelector("#price").textContent;

currency.addEventListener('change', (event) => {
    event.preventDefault();
    $.ajax({
        url:  "http://localhost:8080/v1/exchange/currency?from=" + baseCurrency + "&to=" + currency.value + "&amount=" + amount,
        method: 'GET',
        contentType: 'application/json',
        success: [
            function (newAmount) {
                document.querySelector("#price").textContent = newAmount;
            }
        ]
    });
    currencyFrom = currency.options[currency.selectedIndex].value;
}, false);
</script>
</body>
</html>